*{
    font-family: verdana;
}

a{
    color: #8a707f;
    text-decoration: none;
    font-size: 30px;
}

ul li{
    color: #8a707f;
}

h1, label{
    color: #8a707f;
}

input[type="submit"]{
    padding: 15px 40px 15px 40px;
    margin-top: 20px;
    border: 1px solid #8a707f; 
    background-color: #8a707f;
    color: #ffffff;
    cursor: pointer
}

ul{
    list-style-type: none;
}

body {
    background: white url("images/laptop_cup_glasses_plant.jpg") no-repeat;
}